@font-face {
  font-family: 'icomoon';
  src:  url('/assetserver/76b0b5972e4cd7556086b3a1193f66e46f6ae815-icomoon.eot?jqzphe');
  src:  url('/assetserver/76b0b5972e4cd7556086b3a1193f66e46f6ae815-icomoon.eot?jqzphe#iefix') format('embedded-opentype'),
    url('/assetserver/9aec2d8d573a3d6bc36883f55ff3138f22644c58-icomoon.ttf?jqzphe') format('truetype'),
    url('/assetserver/8e408468e5d06aba6befe762c0b486c6c8e7eb66-icomoon.woff?jqzphe') format('woff'),
    url('/assetserver/4ef84d437b372b3e319f72a2592f9efc1e1ab655-icomoon.svg?jqzphe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-oscilloscope:before {
  content: "\e902";
}
.icon-flask:before {
  content: "\e90b";
}
.icon-calculator:before {
  content: "\e90a";
}
.icon-images:before {
  content: "\e909";
}
.icon-magnet:before {
  content: "\e903";
}
.icon-times-circle:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-x-ray:before {
  content: "\e906";
}
.icon-lungs:before {
  content: "\e907";
}
.icon-broadcast-tower:before {
  content: "\e908";
}
.icon-brain:before {
  content: "\e90c";
}
.icon-wave-square:before {
  content: "\e90d";
}

