@font-face {
  font-family: 'icomoon';
  src:  url('/assetserver/45c719700cc83c70077f9e1c789d497ef1c75d6e-icomoon.eot?jqzphe');
  src:  url('/assetserver/45c719700cc83c70077f9e1c789d497ef1c75d6e-icomoon.eot?jqzphe#iefix') format('embedded-opentype'),
    url('/assetserver/65bbddb765c22703bedfd3df01d959ea5bc3125d-icomoon.ttf?jqzphe') format('truetype'),
    url('/assetserver/47f43855676d321df97384fc845d8cb6452273dc-icomoon.woff?jqzphe') format('woff'),
    url('/assetserver/c57b358535beb8181ad8e39abb3a1e4f0d89e966-icomoon.svg?jqzphe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-oscilloscope:before {
  content: "\e902";
}
.icon-flask:before {
  content: "\e90b";
}
.icon-calculator:before {
  content: "\e90a";
}
.icon-images:before {
  content: "\e909";
}
.icon-magnet:before {
  content: "\e903";
}
.icon-times-circle:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-x-ray:before {
  content: "\e906";
}
.icon-lungs:before {
  content: "\e907";
}
.icon-broadcast-tower:before {
  content: "\e908";
}
.icon-brain:before {
  content: "\e90c";
}
.icon-wave-square:before {
  content: "\e90d";
}

