@font-face {
  font-family: 'icomoon';
  src:  url('/assetserver/0e9acaf010daf48f55a11285d4825c7b2d769774-icomoon.eot?jqzphe');
  src:  url('/assetserver/0e9acaf010daf48f55a11285d4825c7b2d769774-icomoon.eot?jqzphe#iefix') format('embedded-opentype'),
    url('/assetserver/05203655148a0e6ee6e43b7404586f0085f0ff51-icomoon.ttf?jqzphe') format('truetype'),
    url('/assetserver/a21b9f0eb7cc57c63d03edde6167769e3753f6b3-icomoon.woff?jqzphe') format('woff'),
    url('/assetserver/b3bed54fa4e9d07b38459a9f11d4e0374b477e59-icomoon.svg?jqzphe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-oscilloscope:before {
  content: "\e902";
}
.icon-flask:before {
  content: "\e90b";
}
.icon-calculator:before {
  content: "\e90a";
}
.icon-images:before {
  content: "\e909";
}
.icon-magnet:before {
  content: "\e903";
}
.icon-times-circle:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-x-ray:before {
  content: "\e906";
}
.icon-lungs:before {
  content: "\e907";
}
.icon-broadcast-tower:before {
  content: "\e908";
}
.icon-brain:before {
  content: "\e90c";
}
.icon-wave-square:before {
  content: "\e90d";
}

