*.jl.*.cov
*.jl.cov
lcov.info
*.jl.mem
.DS_Store
**/Manifest.toml
/test/Manifest.toml
/dev/
.vscode/settings.json
docs/build/
docs/site/
deps
Thumbs.db
src/examples/sysimageSpinLab.dll
*.gve
*.jld2
*.gif
!docs/src/assets/*.gif
*.out
*.txt
*.nb
.gitignore
qte_timings.txt
*.nsys-rep
*.mem
docs/src/tutorial/*
!docs/src/tutorial/README.md
docs/src/tutorial-pluto/*
!docs/src/tutorial-pluto/README.md
docs/src/assets/logo*
docs/src/assets/icon*
src/ui/assets/*
examples/5.koma_paper/comparison_accuracy/**/*.mrd
examples/5.koma_paper/mrf/**/*.mrd
examples/5.koma_paper/comparison_accuracy/**/*.mat
examples/5.koma_paper/comparison_accuracy/**/*.h5
!examples/5.koma_paper/Manifest.toml
*_w.phantom
.julia-local/
