*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/test/Manifest.toml
/dev/
.vscode/settings.json
docs/build/
docs/site/
deps
Thumbs.db
src/examples/sysimageSpinLab.dll
*.gve
*.jld2
*.gif
*.out
*.txt
*.nb
.gitignore
qte_timings.txt
*.nsys-rep
*.mem
examples/3.koma_paper/**/*.mrd
examples/3.koma_paper/**/*.mat
examples/3.koma_paper/**/*.h5