name = "MRIsim"
uuid = "a9056882-1c2f-47b4-848d-dcb4a04f1994"
authors = ["Carlos Castillo Passi"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
