/* Light-Dark mode for KomaMRI icon image */
.display-light-only {display: block;}
.display-dark-only {display: none;}
.theme--documenter-dark .display-light-only {display: none;}
.theme--documenter-dark .display-dark-only {display: block;}

/* Style for custom docstring template example */
.is-category-docstring .admonition-header::before {display: none;}
.is-category-docstring .admonition-header {background-color: white; color: #222222;}
.is-category-docstring .admonition-body {background-color: white;}
.theme--documenter-dark .is-category-docstring .admonition-body {background-color: #1f2424;}
.theme--documenter-dark .is-category-docstring .admonition-header {background-color: #1f2424; color: white;}
