name: Format suggestions
on:
  pull_request:
jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
