name: Nightly
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: '*'
jobs:
  nightly:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'nightly' # Latest version of Julia under development (you can expect many packages not to work with this version)
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch: [x64]
        include:
          - os: ubuntu-latest
            prefix: xvfb-run # julia-actions/julia-runtest/blob/master/README.md
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: KomaMRIBase
      - name: "Run tests for KomaMRIBase"
        continue-on-error: ${{ matrix.version == 'nightly' }}
        uses: julia-actions/julia-runtest@v1
        with:
          project: KomaMRIBase
      - name: "KomaMRICore dev setup"
        shell: bash
        run: |
          julia --color=yes --project="KomaMRICore" -e "using Pkg; Pkg.develop(PackageSpec(; path=\"./KomaMRIBase\"));"
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: KomaMRICore
      - name: "Run tests for KomaMRICore"
        continue-on-error: ${{ matrix.version == 'nightly' }}
        uses: julia-actions/julia-runtest@v1
        with:
          project: KomaMRICore
      - name: "KomaMRIFiles dev setup"
        shell: bash
        run: |
          julia --color=yes --project="KomaMRIFiles" -e "using Pkg; Pkg.develop(PackageSpec(; path=\"./KomaMRIBase\"));"
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: KomaMRIFiles
      - name: "Run tests for KomaMRIFiles"
        continue-on-error: ${{ matrix.version == 'nightly' }}
        uses: julia-actions/julia-runtest@v1
        with:
          project: KomaMRIFiles
      - name: "KomaMRIPlots dev setup"
        shell: bash
        run: |
          julia --color=yes --project="KomaMRIPlots" -e "using Pkg; Pkg.develop(PackageSpec(; path=\"./KomaMRIBase\"));"
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: KomaMRIPlots
      - name: "Run tests for KomaMRIPlots"
        continue-on-error: ${{ matrix.version == 'nightly' }}
        uses: julia-actions/julia-runtest@v1
        with:
          project: KomaMRIPlots
          prefix: ${{ matrix.prefix }}  # for `xvfb-run`
      - name: "KomaMRI dev setup"
        shell: julia --color=yes --project {0}
        run: |
          using Pkg
          Pkg.develop([
              PackageSpec(path=pwd(), subdir="KomaMRIBase"),
              PackageSpec(path=pwd(), subdir="KomaMRICore"),
              PackageSpec(path=pwd(), subdir="KomaMRIFiles"),
              PackageSpec(path=pwd(), subdir="KomaMRIPlots")
          ])
      - uses: julia-actions/julia-buildpkg@v1
      - name: "Run tests for KomaMRI"
        continue-on-error: ${{ matrix.version == 'nightly' }}
        uses: julia-actions/julia-runtest@v1
        with:
          prefix: ${{ matrix.prefix }}  # for `xvfb-run`
